@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: theme('colors.primary'); /* Dark theme */
  color: theme('colors.text');
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  max-width: 1200px;
}

h1, h2 {
  @apply text-accent;
}

.card {
  @apply bg-secondary rounded-lg shadow-lg overflow-hidden transition-shadow duration-300 hover:shadow-2xl;
}

.card img {
  @apply w-full h-64 object-cover transition-transform duration-300 transform hover:scale-105;
}

h1 {
  @apply text-3xl font-bold;
}

footer {
  @apply p-4 bg-gray-800 text-center text-gray-300;
}

button {
  @apply bg-accent text-black rounded-lg px-4 py-2 mt-4 transition-colors duration-300 hover:bg-yellow-400;
}
